<div class="app-container">
  <div class="app-intro-text">
    Pour accéder à ma thèse d'exercice en médecine : <br />
    <span>
      Gliomes des voies optiques : etude monocentrique retrospective portant sur
      147 cas.
    </span>
    <br />
    Merci de saisir, ci-dessous, le mot de passe fourni lors de la présentation
    puis de cliquer sur le bouton "Télécharger"
  </div>
  <div class="app-download-container">
    <mat-form-field>
      <mat-label class="app-download-label">Mot de passe</mat-label>
      <input
        matInput
        #message
        maxlength="256"
        placeholder="Mot de passe"
        class="app-download-input"
        [value]="password"
        (input)="updatePassword($event)"
      />
      <mat-hint align="start">
        <strong>
          Saisissez ici le mot de passe fourni pendant la présentation
        </strong>
      </mat-hint>
    </mat-form-field>
    <button
      [disabled]="password.length <= 0"
      class="app-download-button"
      mat-raised-button
      color="accent"
      (click)="triggerDownload()"
    >
      Télécharger
    </button>
  </div>
  <div class="app-contact-me"></div>
</div>
